$font-color: rgb(255, 255, 255);
$font-alternative-color: rgb(0, 0, 0);
$accent-color: #ffcf6b;
$background-color: #40341b;
$background-alternative-color: $accent-color;
$darklogo-color: #805b46;
$darklogo-color1: #e6bb60;
$darklogo-color2: #bf9c50bd;
$darklogo-color3: #bf9c5088;
$darklogo-color4: #bf9c5065;
$lightlogo-color: #806836;
$border-nav: $background-color;
$nav-color: rgb(255, 255, 255);

$main-font-size: 1em;
$main-line-height: 1.4;
$main-font-size: $main-font-size * $main-line-height;

$filtering: grayscale(20%);
