.footer {
    height: 100px;
    width: 98.5%;
    background-color: $darklogo-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    display: grid;
    padding-left: 1em;
}
