$font-color: #000;
$font-alternative-color: rgb(255, 255, 255);
$accent-color: #338f85;
$background-color: #ffd06ba2;
$background-alternative-color: #ffa45e;
$darklogo-color: #7152ee;
$darklogo-color1: #ffa45e;
$darklogo-color2: #ffa45ece;
$darklogo-color3: #ffa45e9c;
$darklogo-color4: #ffa45e7e;
$lightlogo-color: #ffa45e41;
$border-nav: $background-color;
$nav-color: rgb(0, 0, 0);

$main-font-size: 1em;
$main-line-height: 1.4;
$main-font-size: $main-font-size * $main-line-height;

$filtering: contrast(100%);
