{% include 'incl/header.twig' %}

<body>
{% include 'incl/nav.twig' %}
    {{ content }}
    <div class="main technology-content" role="main">

        {% for page in pages ("technology") %}
            <a href="{{ page.url }}">
            <div class="technology">
                <p class= "technology-title"> {{ page.title }} </p>
                <p class="technology-desc">{{ page.description }} </p>
            </div>
            </a>
        {% endfor %}
    </div>

    {% include 'incl/footer.twig' %}
</body>
